@charset "utf-8";

body{

    background-color: rgb(83, 141, 222);
}
fieldset{
    
    text-align: left;
    width: 2000px;
    height: 1000px;
    margin-right: 100px;
    margin-top: 210px;
    background-color:azure;
  
}
img{
    width: 3500px;
    margin-left: -400px;
}
section{
    width:3000px ;
    display:block;
    float: left;
    border-right: solid 20px yellow;
}
aside{
    display: block;
    float: right;
}
h1{
    font-size: 100px;
    text-align: center;
}
